*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #232323;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.container{
    background-color: #fff;
    width: 250px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 24px rgba(104, 22, 22, 0.2);
}
.month{
    background-color: red;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bolder;
}
.day{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-weight: bolder;
}
.date{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    font-size: 4.5rem;
    font-weight: bolder;
}
.year{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin-bottom: 10px;
    font-weight: bolder;
}